/Part0/a/myshell
/Part0/a/myshell.o
/Part0/a/LineParser.o
/Part0/b/looper
/Part0/b/looper.o
/Part1/a/myshell
/Part1/a/myshell.o
/Part1/a/LineParser.o
/Part1/a/test
/Part1/a/test.o
/Part1/b/myshell
/Part1/b/myshell.o
/Part1/b/LineParser.o
/Part1/c/myshell
/Part1/c/myshell.o
/Part1/c/LineParser.o